In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("dataset_Facebook.csv", sep=";")
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [7]:
df.shape

(500, 19)

In [5]:
df.isna().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

### Preprocessing
#### Removing null values from
- Paid
- Like
- Share

In [11]:
df['Paid'].unique()

array([ 0.,  1., nan])

In [13]:
df['Paid'].fillna(0, inplace=True)

In [14]:
df['Paid'].unique()

array([0., 1.])

In [15]:
df['like'].unique()

array([7.900e+01, 1.300e+02, 6.600e+01, 1.572e+03, 3.250e+02, 1.520e+02,
       2.490e+02, 1.610e+02, 1.130e+02, 2.330e+02, 8.800e+01, 9.000e+01,
       1.370e+02, 5.770e+02, 8.600e+01, 4.000e+01, 6.780e+02, 5.400e+01,
       3.400e+01, 0.000e+00, 1.600e+01, 7.200e+01, 9.900e+01, 4.120e+02,
       1.000e+02, 5.230e+02, 1.430e+02, 1.070e+02, 2.700e+01, 1.550e+02,
       9.800e+01, 5.600e+01, 1.720e+02, 9.600e+01, 7.600e+01, 2.270e+02,
       4.400e+01, 2.160e+02, 1.870e+02, 2.600e+01, 2.900e+01, 4.700e+01,
       5.700e+01, 1.740e+02, 1.800e+01, 7.700e+01, 1.200e+01, 4.800e+01,
       2.850e+02, 2.020e+02, 6.400e+01, 6.500e+01, 1.640e+02, 1.390e+02,
       1.010e+02, 1.440e+02, 1.790e+02, 2.190e+02, 6.000e+01, 6.970e+02,
       5.300e+01, 8.400e+01, 1.460e+02, 4.490e+02, 2.260e+02, 4.110e+02,
       8.500e+01, 3.700e+02, 1.900e+02, 1.400e+02, 2.700e+02, 3.000e+01,
       3.310e+02, 7.800e+01, 3.010e+02, 1.110e+02, 1.240e+02, 1.530e+02,
       5.100e+01, 1.150e+02, 3.100e+02, 3.280e+02, 1.505e+03, 6.300e+01,
       1.300e+01, 5.900e+01, 9.550e+02, 1.810e+02, 1.930e+02, 1.250e+02,
       2.170e+02, 2.800e+01,       nan, 1.170e+02, 1.500e+01, 4.000e+00,
       4.310e+02, 7.000e+00, 6.000e+00, 2.000e+00, 1.860e+02, 1.000e+00,
       3.000e+00, 1.980e+02, 9.000e+00, 8.000e+00, 1.100e+01, 3.200e+01,
       1.290e+02, 8.590e+02, 3.770e+02, 4.100e+01, 1.890e+02, 8.000e+01,
       1.480e+02, 2.400e+01, 3.020e+02, 1.660e+02, 3.580e+02, 3.190e+02,
       3.630e+02, 2.440e+02, 2.900e+02, 2.430e+02, 4.850e+02, 1.622e+03,
       1.880e+02, 1.630e+02, 2.040e+02, 1.650e+02, 1.047e+03, 2.340e+02,
       2.500e+02, 1.540e+02, 1.500e+02, 1.020e+02, 3.450e+02, 6.800e+01,
       6.200e+01, 2.230e+02, 6.100e+01, 1.040e+02, 7.660e+02, 4.420e+02,
       2.780e+02, 5.200e+01, 1.155e+03, 2.200e+02, 1.140e+02, 3.900e+01,
       7.400e+01, 2.640e+02, 3.600e+01, 4.350e+02, 1.700e+01, 8.700e+01,
       3.320e+02, 9.500e+01, 1.090e+02, 3.670e+02, 9.400e+01, 1.400e+01,
       4.300e+01, 2.370e+02, 1.120e+02, 1.450e+02, 5.350e+02, 1.180e+02,
       4.840e+02, 3.150e+02, 5.172e+03, 7.300e+01, 7.100e+01, 1.940e+02,
       2.380e+02, 7.550e+02, 1.260e+02, 1.670e+02, 1.280e+02, 5.290e+02,
       4.200e+01, 7.500e+01, 1.620e+02, 6.960e+02, 2.150e+02, 5.340e+02,
       4.600e+01, 2.500e+01, 4.690e+02, 2.300e+01, 1.410e+02, 1.900e+01,
       9.300e+01, 2.310e+02, 1.970e+02, 3.300e+02, 2.080e+02, 1.420e+02,
       2.200e+01, 5.800e+01, 1.800e+02, 1.680e+02, 6.700e+01, 1.372e+03,
       3.300e+01, 9.700e+01, 6.170e+02, 1.990e+02, 5.000e+01, 5.500e+01,
       3.070e+02, 2.120e+02, 1.560e+02, 8.210e+02, 1.639e+03, 2.100e+02,
       4.000e+02, 1.380e+02, 2.670e+02, 2.560e+02, 3.040e+02, 4.070e+02,
       4.470e+02, 3.800e+01, 2.860e+02, 2.360e+02, 1.998e+03, 2.350e+02,
       9.200e+01, 3.500e+01, 3.700e+01, 8.100e+01, 9.100e+01, 3.290e+02,
       3.790e+02, 8.900e+01, 1.760e+02, 2.130e+02, 2.110e+02, 1.270e+02,
       1.360e+02, 6.640e+02, 4.900e+01, 1.590e+02, 1.546e+03, 2.140e+02,
       1.340e+02, 2.680e+02, 2.000e+02, 1.600e+02, 5.790e+02, 3.600e+02,
       5.000e+00, 6.900e+01, 8.200e+01, 2.770e+02, 1.050e+02, 1.850e+02])

In [16]:
df['like'].fillna(df['like'].mean(), inplace=True)

In [17]:
df['share'].unique()

array([ 17.,  29.,  14., 147.,  49.,  33.,  27.,  31.,  26.,  19.,  18.,
        10.,  20.,  12.,   8.,   0.,   2.,  24.,  72.,  63.,  13.,  22.,
        11.,  47.,  23.,  21.,  39.,   3.,  36.,  15.,   1.,   9.,  28.,
        54.,   7.,  70.,  84.,  44.,  74.,  53.,  57.,  16.,  38.,   6.,
        77.,  32.,  61.,  90.,  95.,   4., 139.,  50.,  nan,  40.,  41.,
        25.,  60.,  55.,  30.,  35.,  98.,   5.,  64., 208.,  34.,  42.,
       121.,  43., 102.,  68.,  45.,  83.,  79.,  76., 790.,  51.,  58.,
        37., 122., 123., 128., 109.,  52.,  97., 181.,  78.,  99.,  80.,
        46.])

In [18]:
df['share'].fillna(df['share'].mean(), inplace=True)

#### a. Create data subsets for type of post

In [21]:
df['Type'].unique()

array(['Photo', 'Status', 'Link', 'Video'], dtype=object)

In [26]:
df_photo = df[df['Type']=="Photo"]
df_photo.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279

In [25]:
df_status = df[df['Type']=='Status']
df_status.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
10,139441,Status,2,12,5,10,0.0,21744,42334,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
15,138414,Status,2,12,3,10,0.0,10060,19680,1264,1209,1425,17272,8548,1162,4,86.0,18.0,108

In [27]:
df_links = df[df['Type']=='Link']
df_links.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
22,138414,Link,1,12,7,10,0.0,3454,6853,118,104,130,6282,3100,106,0,16.0,2.0,18
41,138895,Link,1,12,6,3,1.0,18480,28438,517,366,460,12078,6752,319,6,187.0,18.0,211
43,138353,Link,1,12,5,3,1.0,2645,4270,134,109,170,2330,1377,101,7,29.0,10.0,46
45,138353,Link,1,12,4,3,1.0,7968,13023,206,158,223,6734,3492,138,4,57.0,10.0,71
47,138353,Link,1,12,3,2,0.0,1925,3481,97,83,126,2307,1180,77,6,18.0,8.0,32

In [30]:
df_video = df[df['Type'] == 'Video']
df_video.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
29,138895,Video,1,12,4,11,1.0,36208,61262,1141,1068,1728,30131,14112,559,18,143.0,13.0,174
55,138329,Video,1,11,6,2,1.0,16416,31950,459,411,539,21436,9568,363,2,65.0,14.0,81
71,137893,Video,1,11,5,3,1.0,100768,220447,2101,1735,2331,59658,18880,885,17,449.0,84.0,550
74,137893,Video,1,11,3,11,0.0,13544,30235,517,458,667,26622,11760,447,2,99.0,13.0,114
183,134879,Video,1,9,2,10,0.0,30624,56950,2080,1956,3253,32033,15744,1376,6,345.0,121.0,472

### b. Merge two subsets
- Merging subsets of photos and status

In [32]:
df_photo_status = pd.concat([df_photo, df_status])
df_photo_status

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,119198,Status,2,5,1,2,0.0,10152,17099,1636,1599,2755,15382,8980,1613,2,55.0,10.0,67
352,116435,Status,1,5,4,3,1.0,23832,42313,1701,1570,2838,37816,21352,1578,6,210.0,39.0,255
362,116091,Status,2,5,5,7,0.0,9232,16811,908,861,1967,12996,7200,843,1,129.0,36.0,166
371,113028,Status,2,4,6,3,1.0,17912,34774,2750,2567,6591,21009,11408,2256,17,447.0,123.0,587
416,104070,Status,1,3,3,15,0.0,9120,14759,951,937,1290,13246,8004,924,3,25.0,6.0,34

In [33]:
df_photo.shape

(426, 19)

In [34]:
df_status.shape

(45, 19)

In [35]:
df_photo_status.shape

(471, 19)

### c. Sort Data on Page total likes

In [36]:
df_sort_like = df.sort_values(by=["like"])
df_sort_like

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,0
21,138414,Photo,1,12,7,10,0.0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,0
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334

In [38]:
df_sort_like['like'].max()

5172.0

### d. Transposing the data
Transposing means converting rows to columns

In [39]:
df_transpose = df.transpose()
df_transpose.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4

### e. Melting Data to long format
- "Pivoting" the data means reorganizing it so that each unique observation is represented by a single row, and each variable is in a separate column. This is often referred to as "long" format.
- So, "unpivoting" (which is what pandas.melt() does) is the process of transforming data from wide format to long format. It takes columns and turns them into rows.

In [42]:
# Adding an index column to provide a unique value to each row entry to further melt and unmelt the data
df['index'] = range(1, len(df)+1)
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions,index
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100,1
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164,2
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80,3
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777,4
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393,5

In [44]:
# Melting data to long format
df_melted = pd.melt(df, id_vars=['Type', 'Category'], value_name='value', var_name="Metrics")
df_melted

        Type  Category           Metrics     value
0      Photo         2  Page total likes  139441.0
1     Status         2  Page total likes  139441.0
2      Photo         3  Page total likes  139441.0
3      Photo         2  Page total likes  139441.0
4      Photo         2  Page total likes  139441.0
...      ...       ...               ...       ...
8995   Photo         3             index     496.0
8996   Photo         2             index     497.0
8997   Photo         1             index     498.0
8998   Photo         3             index     499.0
8999   Photo         2             index     500.0

[9000 rows x 4 columns]

### f. Casting data to wide format

In [46]:
casting = pd.pivot_table(df, index=['Type', 'Category'], values='like', fill_value=0)